.input-book {
    margin: 3% auto;
    width: 90%;
}

.add-book {
    font-size: 25px;
}

input {
    width: 35%;
    height: 40px;
    margin-right: 20px;
    border-radius: 5px;
}

.submit-button {
    width: 20%;
    font-size: 20px;
    height: 40px;
    background-color: blue;
    border-radius: 5px;
}

input::placeholder {
    margin-left: 10px;
    font-size: 20px;
}
